**/.bundle/
**/.yardoc
**/_yardoc/
**/coverage/
**/doc/
**/pkg/
**/spec/reports/
**/tmp/
**.env

.dir-locals.el

# rspec failure tracking
**.rspec_status
*/config/environment.rb
*.gem
tools/Gemfile.lock
