**/.bundle/
**/.yardoc
**/_yardoc/
**/coverage/
**/doc/
**/pkg/
**/spec/reports/
**/tmp/
**/src/
**/spec/dummy/segments/
**.env

.dir-locals.el

# rspec failure tracking
**.rspec_status
*/config/environment.rb
*.gem
Gemfile.lock
