**/.bundle/
**/.yardoc
**/_yardoc/
**/coverage/
**/doc/
**/pkg/
**/spec/reports/
**/tmp/
**/src/
**.env

# Remove after completing refactor
**/spec/dummy/segments/
one_stack_rails/
native

.dir-locals.el

# rspec failure tracking
**.rspec_status
*/config/environment.rb
*.gem
Gemfile.lock
