COMPOSE_FILE=<%= Dir["#{values.path_for(:deployments)}/**/*.yml"].join(':') %>
IMAGE_REPOSITORY=<%= values.config.image_registry %>
COMPOSE_PROJECT_NAME=ros_aws
CONTEXT_DIR=../../../../../../..
ROS_CONTEXT_DIR=../../../../../../../ros
IMAGE_REPOSITORY=railsonservices
IMAGE_TAG=0.1.0-development-412252e
PUID=1001
PGID=1002
